body{
    background-color: #FBF8CC;
    font-family: "Poppins", sans-serif;
}
.section1Gauche {
    font-size: 24px;
    color: #03045E;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 600;
}
.section1Droite{
    display: flex;
    gap: 30px;
    margin-right: 50px;
    color: #03045E;
}
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;     
    min-height: 50vh;
    padding: 100px 0px 0;
    margin-left: 20px;    
}
.section2droite img {
    width: 500px;
    height: auto;
}

.section2gauche {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.section2gauche p {
    font-size: 24px;
    color: #03045E;
    margin: 0;
    line-height: 1.1;
}
.section2gauche h1 {
    font-size: 48px;
    color: #03045E;
    margin: 0;
    line-height: 1.15;
}
.bouton1 button {
    padding: 14px 28px;      
    font-size: 20px;               
    border:none;
    background-color: #f5eb84;
    color: #000000;
    cursor: pointer;
}
.section3{
 
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px 0;
    margin-left: 20px; 
}
.section3 h1{
    color: #03045E;   
}
.section3Ded{
    font-size: 24px;
    color: #03045E;
}
.liste {
    margin-top: 200px;
    margin-left: 200px;
}
.liste h3 {
  font-size: 24px;
  font-weight: bold;
  color: #03045e;
  margin-bottom: 8px;
}
.liste p {
  font-size: 20px;
  color: #03045E;
}
.section4{
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px 0; 
    margin-left: 20px;
}
.section4Work {
color: #03045E;
}
.section4Pro {
    font-size: 24px;
    color: #03045E;
    margin-top: 20px;
}
.section5
{
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0px 0; 
    display: flex;
    margin-left: 20px;
}
.section5 img {
    width: 500px;
    height: 320px;
    object-fit: cover;
    
}


.image5pro h3 {
    color: #03045E;
    margin-top: 20px;
}
.image5pro p {
    font-size: 24px;
    color: #03045E;
    margin-top: 20px;
}
.image5pro2 h3 {
    color: #03045E;
    margin-top: 20px;

}
.image5pro2 p {
    font-size: 24px;
    color: #03045E;
    margin-top: 20px;
}
.section6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px 0; 
    margin-left: 20px;
}  
.section6 h1 {
    color: #03045E;
        margin-bottom: 20px;
} 
.section6 img {
    width: 500px;
    height: auto;
}
.section6 p {
    font-size: 24px;
    color: #03045E;
    margin-bottom: 22px;
}


.title {
    text-align: center;
    margin: 60px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 220px;
    height: 120px;
    background: #f5eb84;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    border-bottom: 3px solid transparent;
}

.card:hover {
    opacity: 1;
    border-bottom: 3px solid #00c16a;
}
.card img {
    max-width: 50px;
}
